@import '../../styles/_colors.sass'
@import '../../styles/shared.sass'

.apiform
  padding: .5em
  margin: 2em 1em
  border-radius: .5em
  background-color: desaturate($primary-color, 30%)
  @media(max-width: $layout-breakpoint-xxsmall)
    margin: 1em