@import '../../styles/_colors.sass'
@import '../../styles/shared.sass'

.places
  width: 100%
  // background-color: lighten($grey, 70%)
  margin: 0 auto
  // padding-bottom: 1em
  @media (min-width: $layout-breakpoint-small)
    width: 60%