@import '../../styles/_colors.sass'
@import '../../styles/shared.sass'

.place
  margin: 0 1em
  padding: 1em
  width: calc(100vw - 4em)
  border-radius: 1em
  color: white
  background-color: $grey
  @media (min-width: $layout-breakpoint-extra-small)
    margin: 0
    width: calc(50% - 4em)
  @media (min-width: $layout-breakpoint-small)
    width: calc(33% - 3em)
  
  h3
    margin-top: .5em