@import '../../../styles/_colors.sass'
@import '../../../styles/shared.sass'

.input 
  display: flex 
  justify-content: space-between
  align-items: center 

.input label 
  font-weight: bold 
  margin-right: .8em 

.input input 
  max-width: 80%
  border-radius: 5px 
  border: 1px solid #ccc 
  font: inherit 
  padding-left: .5em 